<div class="header">
    <div class="header-container-1">
        <div class="nav1">
            <div class="logo"><a href="index.html">
                    <img src="img/logo-the-gioi-di-dong-2.jpg" alt="">
                </a></div>
            <div class="location"><a href="#">
                    <p>Xem gia khuyen mai tai </p>
                    <span>Ha noi</span>
                </a></div>
            <div class="search"><input type="text" name="txtSearch" placeholder="What you needs?..."></div>
            <div class="cart"><a href="#">
                    <img src="img/goofy-face.png" alt="">
                    Gio hang</a></div>
            <div class="history"><a href="#">Lich su mua hang</a></div>
            <div class="advertisement"><a href="#">Quang cao o day</a></div>
            <div class="news nav1-hover"><a href="#">24h <br> Cong nghe</a></div>
            <div class="qna nav1-hover"><a href="#">Hoi Dap</a></div>
            <div class="game-app nav1-hover"><a href="#">Game app</a></div>
        </div>

    </div>
    <div class="header-container-2">
        <div class="nav2">
            <ul>
                <li><img src="img/goofy-face.png" alt="">Dien thoai</li>
                <li><img src="img/goofy-face.png" alt="">Labtop</li>
                <li><img src="img/goofy-face.png" alt="">Tablet</li>
                <li><img src="img/goofy-face.png" alt="">Phu kien</li>
                <li><img src="img/goofy-face.png" alt="">Dong ho thong minh</li>
                <li><img src="img/goofy-face.png" alt="">Dong ho thoi trang</li>
                <li><img src="img/goofy-face.png" alt="">PC, May in</li>
                <li><img src="img/goofy-face.png" alt="">May cu gia re</li>
                <li><img src="img/goofy-face.png" alt="">Sim, the cao</li>
                <li><img src="img/goofy-face.png" alt="">Tra gop, dien nuoc</li>

            </ul>
        </div>
    </div>
</div>