<div class="container">
    <div class="main">
        <div class="slider">
            <div class="slide">

            </div>
            <div class="slide-ad">
                <img src="./img/img.png" alt="">
                <img src="./img/img.png" alt="">
                <img src="./img/img.png" alt="">
                <img src="./img/img.png" alt="">
            </div>
        </div>
        <div class="big-ad" style="text-align: center;background-color:#fed100 ;">
            <span style="font-size: 50px;font-family: Arial, Helvetica, sans-serif;">Quang cao o day</span>
        </div>
        <div class="daly-sale">
            <p class="sale-title">Săn Sale Online Mỗi Ngày</p>
            <div class="top-sale">
                <div class="top-sale-item-contain">
                    <div class="top-sale-item">
                        <div class="top-sale-item-details">
                            <a href="#" class="item-link">
                                <span class="tra-gop">Tra gop 0%</span>
                                <div class="top-sale-item-details-img"> <img src="./img/img.png" alt=""> </div>
                                <span class="item-name">iPhone 12 Pro Max 256GB</span>
                                <span class="small">Online gia re</span>
                                <span class="item-cost">35.000.000₫</span>
                                <span class="item-rating">not done yet</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-phone">
            <p class="phone-title">ĐIỆN THOẠI NỔI BẬT NHẤT</p>
        </div>
        <div class="top-labtop">
            <p class="lab-title">LAPTOP, TABLET NỔI BẬT NHẤT</p>
        </div>

    </div>
    <hr>